<% @project.comments.each do |comment| %>
  <div class="comment-container">
      <div class="comment-author">
        <%= image_tag url_for(comment.user.avatar), class: 'user-icon img-sm', alt: 'avatar' %>
        <h5><%= comment.user.first_name %></h5>
      </div>
      <div class="comment-text">
        <p class="small"><%= time_ago_in_words(comment.created_at) %> ago</p>
        <p><%= comment.comment_text %></p>
      </div>
  </div>
<% end %>