<% @project.comments.each do |comment| %>
  <div class="comment container">
    <%= render 'shared/author_info', entity: comment %>
    <hr>
    <div class="comment-text">
      <%= comment.comment_text %>
    </div>
  </div>
<% end %>