<% @project.comments.each do |comment| %>
  <div class="comment-section">
    <div class="d-flex">
      <img class="rounded-circle me-2" src=<%= comment.user.avatar %> alt="avatar">
      <div class="comment">
          <h5><%= comment.user.first_name %></h5>
          <p class="small"><%= time_ago_in_words(comment.created_at) %></p>
          <p><%= comment.comment %></p>
        </div>
    </div>
  </div>
<% end %>