<%= form_with model: Comment.new, url: project_comments_path(@project) do |f| %>
  <div class="field">
    <%= f.label 'Post Comment' %>
    <%= f.text_area :comment_text %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>