<section class="form">
  <h2>Forgot your password?</h2>
  <p class="subtext">Send reset password instructions to access your account</p>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |form| %>
    <div class="field">
      <%= form.label :email %><br>
      <%= form.email_field :email, autofocus: true, autocomplete: 'email', required: true %>
    </div>
    <div class="actions">
      <%= form.submit 'Send', class: 'btn btn-primary' %>
    </div>
  <% end %>
</section>
