<div class="modal" data-modal="edit-history-modal" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Edit History</h4>
        <span class="btn-close" data-close-modal="edit-history-modal">
          <i class="fas fa-times"></i>
        </span>
      </div>
      <section class="edit-history-modal container"></section>
    </div>
  </div>
</div>
