<div class="modal" data-modal="flag-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Flag</h5>
        <button type="button" class="btn btn-primary" data-close-modal="flag-modal">
          <i class="fas fa-times-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>
