<footer>
  <div class="footer-container">
    <ul class="footer-list">
      <li>
        <a href="#" class="link-primary">About</a>
      </li>
      <li>
        <a href="#" class="link-primary">Privacy Policy</a>
      </li>
    </ul>
    <span class="footer-logo">Agor Dawn</span>
    <ul class="footer-list">
      <li>
        <a href="#" class="link-primary">Report a Bug</a>
      </li>
      <li>
        <a href="#" class="link-primary">Help</a>
      </li>
    </ul>
  </div>
</footer>