<div class="modal" data-modal="liked-modal" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Liked By</h4>
        <span class="btn-close" data-close-modal="liked-modal">
          <i class="fas fa-times"></i>
        </span>
      </div>
      <div class="likes">
        <% if @project.likes.length.zero? %>
          Looks like no one has liked this yet.
        <% end %>
        <% @project.likes.each do |liked_by| %>
          <%= link_to user_path(liked_by.user), class: liked_by.user == current_user ? @current_user_like.nil? ? 'current-user hide-like' : 'current-user' : '' do %>
            <div class="like">
              <%= image_tag url_for(liked_by.user.avatar), class: 'user-icon img-sm', alt: 'avatar' %>
              <div class="username link link-primary">
                <%= liked_by.user.full_name %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
