<section class="header">
  <h1 class="title">Agor Dawn</h1>
  <h3 class="subtitle-main">A platform boosting the commercialisation of projects from humanities and
    social sciences. Providing a space to foster collaboration and innovation.</h3>

  <br>

  <div class="info-links">
    <h3><a href="#">About the project</a> // <a href="https://www.agorip.com/">AgorIP</a> //
      <a href="https://www.agorip.com/get-in-touch/">Get in touch</a></h3>
  </div>

  <% if current_user.nil? %>
    <h4 class="auth-prompt">
      If you haven't already, you might want
      to <%= link_to 'Sign In', new_user_session_path %>
      or <%= link_to 'Sign Up', new_user_registration_path %>
    </h4>
  <% end %>
</section>

<div class="projects-container">
  <h3>Recent Projects</h3>
  <%= render "projects/index" %>
</div>