<div class="summary">
  <% if params[:query].present? %>
    <%= "Search '#{params[:query]}' returned #{pluralize(projects.count, 'result')}." %>
  <% else %>
    <%= "Showing #{projects.where(public: true).count} of #{pluralize(projects.count, 'project')}." %>
  <% end %>
  <hr>
</div>
<div class="project-card-collection">
  <% projects.each do |project| %>
    <% if project.public || project.user == current_user %>
      <%= render 'projects/project_card', locals: { project: project } %>
    <% end %>
  <% end %>
</div>