<div class="summary">
  <% if params[:query].present? %>
    <%= "Search '#{params[:query]}' returned #{pluralize(projects.count, 'result')}." %>
  <% else %>
    <%= "Showing #{projects.count} of #{pluralize(projects.count, 'project')}." %>
  <% end %>
  <hr>
</div>
<div class="project-cards">
  <% projects.each do |project| %>
    <%= link_to project do %>
        <%= render 'projects/project_card', locals: { project: project, hide_description: true } %>
    <% end %>
  <% end %>
</div>