<section class="projects edit">
  <%= render 'flag_information' %>
  <div class="form container">
    <h2>Edit Project</h2>
    <%= render 'form' %>
  </div>
  <div class="form container delete">
    <h2>Delete Project</h2>
    <div class="actions">
      <%= link_to project_path, method: :delete, class: 'btn btn-secondary-1', data: { confirm: 'Are you sure you want to delete this project?' } do %>
        <i class="fas fa-trash-alt"></i> Delete
      <% end %>
    </div>
  </div>
</section>