<section class="projects edit">
  <h1>Edit Project</h1>
  <%= render 'form' %>
  <%= link_to project_path, method: :delete, class: 'btn btn-secondary-1', data: { confirm: 'Are you sure you want to delete this project?' } do %>
    <i class="fas fa-trash-alt"></i> Delete
  <% end %>
</section>