<main class="projects index">
  <header>
    <h1>Projects</h1>
    <p>Discover, collaborate and innovate. A central hub for research projects and collaboration.</p>
    <%= link_to "#", class: "btn btn-primary" do %>
      Create a new project
    <% end %>
  </header>
</main>