<main class="projects index">
  <header>
    <h1>Projects</h1>
  </header>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1>Agor Dawn</h1>
            <p>Discover, collaborate and innovate. A central hub for research projects and collaboration </p>
            <p>
              <%= link_to "#", class: "btn btn-primary my-2" do %>
                Create a new project
              <% end %>
            </p>
          </div>
        </div>
      </section>
      <div class="album py-5">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% @projects.each do |project| %>
              <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    Featured
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><%= project.name %></h5>
                    <p class="card-text"><%= project.summary %></p>
                    <%= link_to "Show", project, class: 'btn btn-primary' %>
                  </div>
                  <div class="card-footer text-muted">
                    2 days ago
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
</main>