<section class="projects index">
  <header>
    <%= link_to 'Create Project', new_project_path, class: 'create btn btn-secondary-2' %>
  </header>
  <section class="content">
    <div class="project-cards">
      <% @projects.each do |project| %>
        <%= link_to project do %>
            <%= render 'project_card', locals: { project: project, hide_description: true } %>
        <% end %>
      <% end %>
    </div>
  </section>
</main>