<main class="projects index">
  <div class="create-btn">
    <%= link_to new_project_path, class: 'btn btn-secondary-2' do %>
      <span class="text">Add Project</span>
      <i class="icon fas fa-plus-square"></i>
    <% end %>
  </div>
  <section class="content">
    <div class="project-cards">
      <% @projects.each do |project| %>
        <%= link_to project do %>
            <%= render 'project_card', locals: { project: project, hide_description: true } %>
        <% end %>
      <% end %>
    </div>
  </section>
</main>