<main class="projects index">
  <header>
    <h1>Projects</h1>
  </header>
  <section class="content">
    <div class="project-cards">
      <% @projects.each do |project| %>
        <%= link_to project do %>
            <%= render 'project_card', project: project %>
        <% end %>
      <% end %>
    </div>
  </section>
</main>