<section class="projects show">
  <%= render 'project_card', locals: { project: @project } %>
  <div class="comments-section">
    <h2>Comments</h2>
    <%= render 'comments/comments' %>
    <%= render 'comments/form' %>
  </div>
</section>

<%= render 'shared/liked_modal' %>
