<section class="projects show">
  <%= render 'project_card', locals: { project: @project } %>
  <% if @project.user == current_user %>
    <%= link_to project_path, 'Delete', method: :delete %>
  <% end %>
  <section class="comments">
    <div class="row d-flex">
      <%= render 'comments/form' %>
      <%= render 'comments/comments' %>
    </div>
  </section>
</section>