<section class="projects show">
  <%= render 'project_card', locals: { project: @project } %>
  <div class="comments-section">
    <%= render 'comments/form' %>
    <%= render 'comments/comments' %>
  </div>
</section>