<h2>Hello <%= @user.first_name %>,</h2>
<p>This email is regarding an issue with your <%= @type %> for the following reason:</p>
<%= simple_format(@reason) %>
<p>Our team have marked the issue as resolved, and your <%= @type %> is now public again.</p>
<p>Thank you for your understanding and cooperation.</p>