<h2>Hello <%= @user.first_name %></h2>
<p>Our admins have flagged your <%= @type %> for review for the following reason:</p>
<br>
<p><%= @reason %></p>
<br>
<p>Please <%= link_to 'login', project_url(@project_id) %> to make the appropriate changes.</p>