@import "variables";

.author-info {
  display: flex;
  flex-flow: row nowrap;
  width: 320px;

  &:hover {
    & .owner {
      color: $primary-light;
    }

    & .user-icon {
      filter: grayscale(1);
    }
  }

  .left {
    margin-right: 0.5rem;
  }

  .right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: $dark-font-color;
    
    .owner {
      font-size: 0.9rem;
      margin-bottom: 0.4rem;

      @media screen and (max-width: $screen-sm) {
        text-decoration: underline;
      }
    }

    .date {
      font-weight: 300 !important;
    }
  }
}