@import "variables";

.author-info {
  .outer {
    display: flex;
    flex-flow: row nowrap;
    width: 240px;

    .left {
      margin-right: 0.5rem;
    }

    .right {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      
      .owner {
        font-size: 0.9rem;
      }

      .date {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-weight: 300;
        font-size: 0.7rem;
        margin-bottom: 0;

        i {
          margin-right: 0.25rem;
        }
      }

      .author-info-link {
        color: $dark-font-color;

        &:hover {
          color: $primary-light;
        }
      }
    }
  }
}