@import "variables";

body#overboot {
  .btn {
    color: $white;
    border-radius: 0.25rem;
    padding: 0.8rem;
    line-height: 1;
    border: none;

    &:hover {
      transition: background-color 0.15s linear;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .btn-primary {
    background-color: $primary;

    &:hover {
      background-color: $primary-light;
    }
  }

  .btn-secondary-1 {
    background-color: $secondary-1;

    &:hover {
      background-color: $secondary-1-light;
    }
  }

  .btn-secondary-2 {
    background-color: $secondary-2;

    &:hover {
      background-color: $secondary-2-light;
    }
  }

  .btn-complementary {
    background-color: $complementary;

    &:hover {
      background-color: $complementary-light;
    }
  }

  .link-primary {
    color: $primary;

    &:hover {
      cursor: pointer;
      color: $primary-light;
      transition: color 0.15s linear;
    }
  }

  .link-secondary-1 {
    color: $secondary-1;

    &:hover {
      cursor: pointer;
      color: $secondary-1-light;
      transition: color 0.15s linear;
    }
  }

  .floating-btn {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    z-index: 1;

    .btn {
      padding: 0 !important;
      color: $white;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      -webkit-transition: width 1s;
      transition: width 1s;

      .icon, .text {
        vertical-align: middle;
        display: flex;
      }

      .icon {
        background-color: $secondary-2;
        font-size: 2rem;
        padding: 1rem 1rem 1rem 0;
      }

      .text {
        order: -1;
        display: flex;
        font-size: 1rem;
        white-space: nowrap;
        color: $white;
        padding-left: 1rem;
        max-width: 0;
        transition: max-width 1s, padding 1s;
        -webkit-transition: max-width 1s, padding 1s;
      }

      &:hover {
        background-color: $secondary-2 !important;

        .text {
          max-width: 300px;
          padding-right: 1rem;
        }
      }
    }
  }
}