@import "variables";

.comments-section {
  margin-left: auto;
  margin-right: auto;

  p {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  h2 {
    text-align: center;
    margin-top: 2rem;
  }

  .comment {
    background: $white;
    margin: 0 auto 1rem;
    box-shadow: 0 0.05rem 0.05rem $primary-light !important;
    max-width: 800px;

    .comment-header {
      display: flex;
      justify-content: space-between;
    }
  }

  .sign-in-comment {
    text-align: center;
    margin: 2rem 0;
  }
}
