.show{

  .comments{
    margin: 2rem;
    padding: 2rem;

    .rounded-circle{
      width: 80px;
      height: 80px;
    }

    .card{
      width: 100rem;

      .card-body{
        padding: 2rem;
      }
    }
  }
}