.comment-section{

  img.rounded-circle{
    width: 15rem;
    height: 15rem;
  }
  .comment{
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 15rem;
    width: 30rem;
    align-content: center;
  }
}
