@import "variables";

.comments-section {
  margin-left: auto;
  margin-right: auto;

  h2 {
    text-align: center;
  }

  .comment {
    background: $white;
    margin: 0 auto 1rem;
    box-shadow: 0 0.05rem 0.05rem $primary-light !important;
    max-width: 480px;

    .author-info {
      margin-bottom: 1rem;
    }

    .comment-text {
      align-content: center;
    }

    img.rounded-circle {
      width: 15rem;
      height: 15rem;
    }
  }
}
