@import "variables";

footer {
  background-color: $white;
  box-shadow: 0 0 0 0.1rem $primary-light;
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;

  @media screen and (max-width: $screen-sm) {
    margin-top: 1rem;
  }

  .footer-list-container {
    padding-top: 1.5rem;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $screen-sm) {
      flex-direction: column;
    }

    .footer-list {
      width: 40%;
      display: flex;
      justify-content: space-around;

      @media screen and (max-width: $screen-sm) {
        width: 100%;
        order: 1;
        justify-content: center;

        li {
          margin: 0.25rem 1rem;
        }
      }
    }

    .footer-logo {
      display: block;
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: -0.1rem;
      font-weight: 500;
      text-transform: lowercase;
      color: $primary;
    }
  }

  .disclaimer {
    padding-bottom: 1.5rem;
    display: block;
    text-align: center;
    margin: 1rem 0.5rem 0 0.5rem;
  }
}