@import "variables";

.form {
  margin: 0 auto;
  max-width: 640px !important; // has to be important to override bootstrap
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;

  .extra-info{
    margin-top: 1rem;
    font-style: italic;
  }

  h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .subtext {
    text-align: center;
  }

  .field {
    margin-bottom: 1rem;

    label {
      display: inline-block;
      margin-bottom: 0.25rem;
      font-weight: 400;
    }

    input, textarea, trix-editor {
      width: 100%;
      padding: 0.5rem;
      background-color: $primary-background-color;
      border-style: solid;
      border-width: 0.1rem;
      border-radius: 0.25rem;
      border-color: $primary;

      @media screen and (max-width: $screen-sm) {
        background-color: $white;
      }

      &:focus {
        background-color: $white;
        border-color: $primary;
      }

      &:focus-visible {
        background-color: $white;
        outline: $primary solid 0.1rem;
      }

      &.invalid {
        border-color: $secondary-1;
        border-width: 0.15rem;

        &:focus {
          border-color: $secondary-1;
        }

        &:focus-visible {
          outline: $secondary-1 solid 0.1rem;
        }
      }
    }

    input {
      height: 40px;
    }

    textarea {
      height: 80px;
    }

    .error {
      margin-top: 0.5rem;
      color: $secondary-1;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.checkbox {
      text-align: center;
      width: fit-content;
      margin: 0 auto 1rem auto;

      input {
        height: 2rem;
      }
    }
  }

  .actions {
    text-align: center;

    input {
      width: 240px;
    }
  }

    .notice-text{
      text-align: center;
      margin-top: 1rem;
      background-color: $light-font-color;
    }

  .forgot-password {
    text-align: center;
    margin-top: 1rem;
  }

  .edit_user {
    .user-icon {
      display: block;
      margin: 0 auto 0.5rem auto;
    }
  }
}