@import "variables";

html, body {
  min-height: 100vh;
  overflow-x: hidden;
  color: $dark-font-color;
}

body#overboot {
  background-color: $primary-background-color;
  line-height: 1;

  ::selection {
    background: $primary-light;
  }

  .alert, .notice {
    &:empty {
      height: 0;
      padding: 0;
      margin: 0;
      border: 0;
    }
  }

  .container {
    background-color: $white;
    border-radius: 0.25rem;
    box-shadow: $primary-box-shadow;
    padding: 1.5rem;

    @media screen and (max-width: $screen-sm) {
      max-width: 100%;

      &.form {
        background-color: $primary-background-color;
        box-shadow: none;
      }
    }
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  hr {
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, $primary));
    width: 100%;
  }

  img.user-icon {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }

  main {
    padding: 0 1rem;

    @media screen and (max-width: $screen-sm) {
      padding: 0 0.5rem;
    }
  }
}