@import "variables";

h1, h2, h3 {
  font-family: $heading-font;
}

section.header {
  padding: 0;
  text-align: center;


  h1 {
    letter-spacing: 1rem;
    font-weight: 100;
    padding-top: 1rem;
    @media screen and (min-width: $screen-lg) {
      padding-top: 2rem;
    }

    &.title, i {
      font-size: 5rem;
      @media screen and (min-width: $screen-md) {
        font-size: 10rem;
      }
    }

    a {
      text-decoration: none;
      color: $dark-font-color;
    }

    &.bottom-link {
      font-weight: 200;
      margin-top: auto;
    }
  }

  h2 {
    padding: 1rem;
    font-weight: 600;
    font-size: 1.4rem;
    @media screen and (min-width: $screen-md) {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  p {
    font-weight: 200;
    font-size: 1.4rem;
  }

  .info-links {
    margin: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;

    h3 a {
      font-weight: 150;
      text-decoration: none;
      color: $dark-font-color;
      font-size: 1.6rem;

      &:hover {
        color: $primary
      }

      @media screen and (min-width: $screen-md) {
        font-size: 3rem;
      }
    }
  }
}

.auth-prompt {
  padding-bottom: 2rem;
  font-weight: lighter;
}

.projects-container {
  h3 {
    font-weight: 100;
    text-align: center;
    font-size: 1.6rem;

    @media screen and (min-width: $screen-md) {
      font-size: 3rem;
    }
  }

  h2 {
    font-weight: 200;
  }

}
