@import "variables";

.home {
  padding-left: 0 !important;
  padding-right: 0 !important;

  .header {
    box-shadow: $primary-box-shadow;
    padding: 0 1rem 5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: $white;
    margin-bottom: 2rem;

    @media screen and (max-width: $screen-sm) {
      padding: 0 1rem 2rem;
      margin-bottom: 2rem;
    }

    .title {
      font-size: 10rem;
      letter-spacing: -0.75rem;
      font-weight: 500 !important;
      line-height: 0.75;
      text-transform: lowercase;
      text-shadow: 0.1rem 0.1rem 0.1rem $primary;
      max-width: 4ch;
      text-align: center;
      margin-bottom: 2rem;

      @media screen and (max-width: $screen-sm) {
        font-size: 6rem;
      }
    }

    .subtitle {
      font-size: 2rem;
      text-align: center;
      text-shadow: 0.05rem 0.05rem 0.05rem $primary;
      max-width: 850px;
      margin-bottom: 2rem;

      @media screen and (max-width: $screen-sm) {
        font-size: 1.2rem;
      }
    }

    .info-links {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 80%;

      a {
        width: 20rem;
        font-size: 1.25rem;
        margin: 0.5rem;
        box-shadow: 0.1rem 0.1rem 0.1rem $primary;

        @media screen and (max-width: $screen-sm) {
          font-size: 1rem;
        }
      }
    }
  }

  .search-browse {
    max-width: 850px !important;
    text-align: center;
    margin: 0 auto 2rem auto;

    h3 {
      margin: 1rem 0 2rem 0;
    }

    p {
      margin: 1rem 0;
    }

    .browse-projects {
      margin-bottom: 1rem;
      
      a.btn.btn-primary {
        font-size: 1.5rem;
        padding: 1rem !important;
      }
    }
  }

  

  .projects-container {
    h3 {
      text-align: center;
    }
  }
}