@import "variables";

#close_liked_modal {
  height: 42px;
  width: 42px;
}

.likes {
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
  padding: 1rem;

  a {
    flex: 50%;
    margin-bottom: 1rem;

    .like {
      display: flex;
      align-items: center;
      text-align: center;

      .username {
        padding-left: 1rem;
        color: $dark-font-color;
      }
    }

    &:hover{
      .username{
        text-decoration: underline;
      }

      img.user-icon {
        filter: grayscale(1);
      }
    }
  }
}