@import "variables";

.navbar {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  background-color: #fff;
  // border-bottom: 0.15rem solid $primary-light;
  box-shadow: 0 1px 1px $primary-light;
  color: $light-font-color;

  .left-navbar {
    display: flex;

    .nav-logo {
      background-color: $primary;
      padding: 0.5rem;
      border-radius: 0.25rem;
      color: #fff;
      font-size: 1.5rem;
      letter-spacing: -0.05rem;
      text-transform: lowercase;
      white-space: nowrap;

      &:hover {
        background-color: $primary-light;
        transition: background-color 0.15s linear;
      }
    }

    .nav-search {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      width: 20rem;
    }
  }

  .right-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-link {
      color: $primary;
      // padding: 0.5rem 1rem;
      padding: 0;

      &:hover {
        color: $primary-light;
        transition: color 0.15s linear;
      }
    }

    .nav-btn {
      background-color: $primary;
      padding: 0.8rem;
      border-radius: 0.25rem;
      color: #fff;
      margin-left: 0.5rem;

      &:hover {
        background-color: $primary-light;
        transition: background-color 0.15s linear;
      }
    }
  }

  .hamburger {
    display: none;

    .bar {
      display: block;
      width: 1.5rem;
      height: 0.2rem;
      margin: 0.3rem auto;
      border-radius: 0.5rem;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }
  }
}