@import "variables";

nav {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.1rem $primary-light;
  margin-bottom: 1rem;
  color: $light-font-color;

  .left-navbar {
    display: flex;
    
    @media screen and (min-width: $screen-sm) {
      min-width: 20rem;
      width: 70%;
    }

    .nav-logo {
      background-color: $primary;
      padding: 0.5rem;
      border-radius: 0.25rem;
      color: #fff;
      font-size: 1.5rem;
      letter-spacing: -0.05rem;
      text-transform: lowercase;
      text-decoration: underline !important;
      white-space: nowrap;
      margin-right: 0.5rem;

      &:hover {
        background-color: $primary-light;
        transition: background-color 0.15s linear;
      }
    }

    .search {
      width: 100%;

      .search-input {
        @media screen and (max-width: $screen-sm) {
          display: none;
        }
      }

    }
  }

  .right-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-link {
      color: $primary;
      padding: 0;
      white-space: nowrap;

      &:hover {
        color: $primary-light;
        transition: color 0.15s linear;
      }
    }

    .nav-btn {
      background-color: $primary;
      padding: 0.8rem;
      border-radius: 0.25rem;
      color: #fff;
      margin-left: 0.5rem;
      white-space: nowrap;

      &:hover {
        background-color: $primary-light;
        transition: background-color 0.15s linear;
      }
    }
  }

  .hamburger {
    display: none;

    .bar {
      display: block;
      width: 1.5rem;
      height: 0.2rem;
      margin: 0.3rem auto;
      border-radius: 0.5rem;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }
  }
}

.mobile-search {
  padding: 0 1rem;
  margin-bottom: 1rem;

  @media screen and (min-width: $screen-sm) {
    display: none;
  }

  &.hide {
    display: none;
  }
}

