@import "variables";

.projects {
  &.index {
    header {
      text-align: center;

      h1 {
        padding-top: 1rem;
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1rem;
        color: $color-primary-1-0;
        text-shadow: 3px 3px $color-primary-1-1;

        @media screen and (max-width: $screen-md) {
          font-size: 3rem;
          letter-spacing: 0.5rem;
        }
      }
    }

    .content {
      .project-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

          
        a {
          margin: 2rem;
          text-decoration: none;

          @media screen and (max-width: $screen-md) {
            margin: 0.5rem 0;
          }

          .card-outer-1 {

            .card-outer-2 {

              .card-content {
                min-width: 20rem;
                max-width: 30rem;
              }
            }

            &:hover {
              cursor: pointer;
              transform: scale(1.1) rotate(-3deg);
            }
          }
        }
      }
    }
  }

  &.show {

    .project-card {
      // max-width: 70vw;
      margin: 2rem auto;
      // padding: 2rem 0;

      @media screen and (max-width: $screen-lg) {
        // margin: 1rem auto;
      }

      // .card-outer-1 {}
    }
    // .comments{
    //   margin: 2rem;
    //   padding: 2rem;
  
    //   .rounded-circle{
    //     width: 80px;
    //     height: 80px;
    //   }
  
    //   .card{
    //     width: 100rem;
  
    //     .card-body{
    //       padding: 2rem;
    //     }
    //   }
    // }
  }

  .project-card {
    .card-outer-1 {
      transform: rotate(-3deg);
      border: 0.25rem solid #FFC75F;
      transition: transform .2s ease-in-out;

      .card-outer-2 {
        transform: rotate(1deg);
        border: 0.25rem solid #FF6F91;

        .card-content {
          transform: rotate(2deg);
          display: flex;
          flex-direction: column;
          text-align: center;
          padding: 2rem 1rem;
          border: 0.25rem solid #845EC2;
          background-color: #fff;
          color: #000;

          .name {

          }

          .summary {

          }

          .owner {
            font-size: 0.85rem;
            font-weight: 600;
            margin-bottom: 0;
          }

          .created-date {
            font-size: 0.85rem;
            font-weight: 300;
            margin-bottom: 0;
          }
        }
      }
    }

    @media screen and (min-width: $screen-xl) {
      .card-outer-1 {
        transform: rotate(-1.5deg);

        .card-outer-2 {
          transform: rotate(0.5deg);

          .card-content {
            transform: rotate(1deg);
          }
        }
      }
    }
  }
}