@import "variables";

.collection-summary {
  text-align: center;
  margin-top: 1.5rem;
}

.project-card-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
    
  .project-card {
    margin: 1rem;
    text-decoration: none;

    @media screen and (max-width: $screen-md) {
      margin: 0.5rem 0;
    }

    &.private, &.flagged {
      filter: grayscale(1);
    }

    .card-outer-1 {
      transform: rotate(-2deg);

      .card-outer-2 {
        transform: rotate(1deg);

        .card-content {
          transform: rotate(1deg);
          min-width: 320px;
          max-width: 480px;

          .main {
            padding: 2rem 2rem 0 2rem;

            .private-icon {
              display: block;
              margin-bottom: 0.5rem;
            }
          }

          .footer {
            padding: 0 2rem 2rem 2rem;
          }
        }
      }

      &:hover {
        transform: scale(1.1) rotate(-2deg);
      }
    }
  }
}

.project-card {
  .card-outer-1 {
    border: 0.25rem solid $complementary-light;
    transform: rotate(-1deg);
    transition: transform .2s ease-in-out;

    .card-outer-2 {
      border: 0.25rem solid $secondary-1-light;
      transform: rotate(0.5deg);

      .card-content {
        transform: rotate(0.5deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 0.25rem solid $primary-light;
        background-color: $white;
        
        .main {
          color: $dark-font-color;

          @media screen and (max-width: $screen-sm) {
            text-decoration: underline;
          }

          .summary {
            margin-bottom: 0;
          }

          &:hover {
            color: $primary-light;
          }
        }

        .trix-content {
          margin-top: 1rem;
          width: 100%;
        }

        .footer {
          display: flex;
          flex-flow: column nowrap;

          .stats {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            color: $grey-font-color;
          }

          .metadata {
            font-size: 0.7rem;
            font-weight: 600;
            margin-bottom: 0;
          }
        }

        .description {
          margin-top: 1rem;
          margin-bottom: 0;
          list-style: inside;
          align-content: center;
        }
      }
    }
  }
}

.projects {
  &.index {
    .filter-row {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.1rem solid $primary-light;
      font-size: 1.1rem;
      margin: 1rem 0;

      .filter-categories {
        display: flex;
        flex-flow: row nowrap;

        .category {
          padding: 0.5rem 1rem;

          @media screen and (max-width: $screen-sm) {
            padding: 0.5rem 0.5rem;
          }

          &:hover {
            cursor: pointer;
            color: $primary-light;
            border-bottom: 0.25rem solid $primary-light;
          }

          &.selected {
            color: $primary;
            border-bottom: 0.25rem solid $primary;
          }
        }
      }
    }
  }

  &.show {
    .project-card {
      margin-bottom: 2rem;

      .card-content {
        padding: 2rem;

        @media screen and (max-width: $screen-sm) {
          padding: 1rem;
        }

        .actions {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media screen and (max-width: $screen-sm) {
            margin-bottom: 1rem;
          }

          .flag {
            margin-left: auto;
          }
        }

        .like-count {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 2rem;

          .like-button {
            i {
              font-size: 1.5rem;
            }
          }

          .count {
            margin-left: 0.5rem;

            @media screen and (max-width: $screen-sm) {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &.new, &.edit {
    .form {
      max-width: none !important;

      .trix-button-row {
        flex-wrap: wrap;

        .trix-button-group {
          margin-bottom: 0.5rem;

          .trix-button:hover {
            background: $primary-light;
          }

          .trix-active {
            background: $primary;
          }
        }
      }

      #project_content {
        min-height: 160px;
      }
    }
  }

  &.edit {
    .container.delete {
      max-width: 360px !important;

      .btn.btn-secondary-1 {
        width: fit-content;
      }
    }
  }
}