@import "variables";

.projects {
  &.show {
    .project-card {
      margin: 2rem auto;

      .card-outer-1 {
        transform: rotate(-1deg);

        .card-outer-2 {
          transform: rotate(0.5deg);

          .card-content {
            transform: rotate(0.5deg);
          }
        }
      }

      .like-count {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;

        .count {
          margin-left: 0.5rem;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .btn.like {
          border-radius: 50%;
          font-size: 0.75rem;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
