$color-primary-0: #845EC2;	// Main Primary color */
$color-primary-1: #CDB8EE;
$color-primary-2: #A686DA;
$color-primary-3: #683FAA;
$color-primary-4: #51249B;

$color-secondary-1-0: #FF8F6E;	// Main Secondary color (1) */
$color-secondary-1-1: #FFCEBF;
$color-secondary-1-2: #FFAC93;
$color-secondary-1-3: #FA744D;
$color-secondary-1-4: #E44E22;

$color-secondary-2-0: #56C78A;	// Main Secondary color (2) */
$color-secondary-2-1: #B4F0D0;
$color-secondary-2-2: #80DDAB;
$color-secondary-2-3: #36B16F;
$color-secondary-2-4: #18A158;

$color-complement-0: #FFEF6E;	// Main Complement color */
$color-complement-1: #FFF8BF;
$color-complement-2: #FFF393;
$color-complement-3: #FAE64D;
$color-complement-4: #E4CE22;

// Colours
// $primary: ;
// $primary-light: ;
// $primary-dark: ;
// $secondary: ;
// $secondary-light: ;
// $secondary-dark: ;
// %success: ;
// %success-light: ;
// %success-dark: ;
// $info: ;
// $info-light: ;
// $info-dark: ;
// $warning: ;
// $warning-light: ;
// $warning-dark: ;
// $danger: ;
// $danger-light: ;
// $danger-dark: ;

$primary-background-color: #ebf1f4;

// Screen Breakpoints
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;