<!DOCTYPE html>
<html>
  <head>
    <title>Agor Dawn Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <h2>Hello <%= @admin.present? ? @admin.first_name : @user.first_name %>,</h2>
    <%= yield %>
    <h4><i>The Agor Dawn Team</i></h4>
  </body>
</html>
